header {
  height: 70px;
  background: $primary-color;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;

  .logo {
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .header-top {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-bottom {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 2;
  }

  .hamburger-menu {
    width: 24px;
    transition: all .3s linear;
    > span {
      display: block;
      width: 24px;
      height: 3px;
      margin: 3px auto 0;
      font-size: 0;
      background: $white-sequence-1;
      &:nth-child(1) {
        margin: 0 auto;
      }
      span {
        background: $white-sequence-1;
        width: 50%;
        display: inline-block;
        height: 3px;
        transform-origin: left center;
        transition: all .3s linear;
        position: relative;
        + span {
          transform-origin: right center;
        }
      }
    }
    .open-menu & {
      > span {
        background: transparent;
      }
      span {
        &:nth-child(1) {
          span:first-child {
            transform: rotate(45deg);
            left: 5px;
            top: -3px;
          }
          span:last-child {
            transform: rotate(-45deg);
            left: -2px;
            top: -3px;
          }
        }
        &:nth-child(2) {
          span:first-child {
            transform: scale3d(0,1,1);
            opacity: 0;
          }
          span:last-child {
            transform: scale3d(0,1,1);
            opacity: 0;
          }
        }
        &:nth-child(3) {
          span:first-child {
            transform: rotate(-45deg);
            left: 5px;
            top: 2px;
          }
          span:last-child {
            transform: rotate(45deg);
            left: -2px;
            top: 2px;
          }
        }
      }
    }
  }

  .nav-main {
    display: none;
  }

}

@include desktop-down {
  header {
    .container {
      max-width: none;
    }
    .nav-main {
      .open-menu & {
        display: block;
        overflow-x: hidden;
      }
    }
  }
}

@include desktop-up {
  header {
    .hamburger-menu {
      display: none;
    }
    .container {
      display: flex;
    }
    .header-bottom {
      position: relative;
    }
    .nav-main {
      display: block;
    }
    .ie10 & {
      .header-bottom {
        flex: 1 1 0;
      }
    }
  }
}
