extends layouts/layout

block vars
  -title = "Dummy example"

block container
  style.
    .bodyClass {text-transform: uppercase; text-align: center;}
    .bodyClass a {display: block; padding: 15px; margin: 5px 0; text-decoration: none; background: #fff; color: #111; border: 1px solid #000}
    .bodyClass h4 { margin: 20px 0; text-align: center;}
  .container-fluid
    .container
      .col-xs-12
        h1 Dummy content for testing
        form.form-search-event#form-1(action='', method='POST')
          .collapse.show#collapseEventFilter
            .row
              .col-md-4
                .form-group
                  label Simple select
                  select.select-dropdown.select-flat#select-1(data-select,title='Period',name='period')
                    option(value='1', selected) Option 1
                    option(value='2') Option 2
              .col-md-4
                .form-group
                  label Multiple select
                  select.select-dropdown.select-flat#select-2(data-select,data-select-all-value='1',multiple,title='Event type',name='eventType')
                    option(value='all',selected) All
                    option(value='1') Option 1
                    option(value='2') Option 2
                    option(value='3') Option 3
                    option(value='4') Option 4
                    option(value='5') Option 5
                    option(value='6') Option 6
                    option(value='7') Option 7
                    option(value='8') Option 8
              .col-md-4
                .form-group
                  label School/Department
                  select.select-dropdown.select-flat#select-3(data-select,data-select-all-value=1,multiple,title='School/Department',name='school')
                    option(value='all',selected) All
                    option(value='1') Option 1
                    option(value='2') Option 2
            .row
              .col-12
                button.btn.btn-primary(data-reset) Reset form
        br
        div(data-truncate-text='100') De an enim minim velit, offendit nisi doctrina quo nulla mandaremus philosophari
        hr
        h3 Example truncate text with ...
        .description(data-truncate-text='100', data-truncate-row-type='...')
          +img('Logo', './assets/images/logo.jpg').img-responsive
          p De an enim minim velit, offendit nisi doctrina quo nulla mandaremus philosophari, excepteur aliqua constias, export appellat ea voluptate ne qui qui quae ingeniis ex consequat iis quis constias, ea labore a tempor. Nescius aliqua consequat. Pariatur qui quid cernantur non nescius duis expetendis, ullamco dolore litteris aliquip, eiusmod eram fore o minim, te aut graviterque, doctrina esse dolor fabulas nulla aut laboris quem singulis, sunt reprehenderit admodum summis offendit.Hic anim comprehenderit. Consequat despicationes qui iudicem nam ex aute laboris proident in ubi culpa distinguantur, anim de non esse ullamco. Qui legam cupidatat senserit se aliquip aute irure iis anim et te eram eiusmod mentitum o esse se hic tamen appellat. Senserit malis arbitror litteris e e hic voluptatibus.
        hr
        h3 Example truncate row with ...
        .description(data-truncate-row='0:4,768:2,992:2', data-truncate-row-type='...')
          p De an enim minim velit, offendit nisi doctrina quo nulla mandaremus philosophari, excepteur aliqua constias, export appellat ea voluptate ne qui qui quae ingeniis ex consequat iis quis constias, ea labore a tempor. Nescius aliqua consequat. Pariatur qui quid cernantur non nescius duis expetendis, ullamco dolore litteris aliquip, eiusmod eram fore o minim, te aut graviterque, doctrina esse dolor fabulas nulla aut laboris quem singulis, sunt reprehenderit admodum summis offendit.Hic anim comprehenderit. Consequat despicationes qui iudicem nam ex aute laboris proident in ubi culpa distinguantur, anim de non esse ullamco. Qui legam cupidatat senserit se aliquip aute irure iis anim et te eram eiusmod mentitum o esse se hic tamen appellat. Senserit malis arbitror litteris e e hic voluptatibus.
        hr
        h3 Example truncate row with fade effect
        .description(data-truncate-row='0:4,768:2,992:2', data-truncate-row-type='fade')
          p De an enim minim velit, offendit nisi doctrina quo nulla mandaremus philosophari, excepteur aliqua constias, export appellat ea voluptate ne qui qui quae ingeniis ex consequat iis quis constias, ea labore a tempor. Nescius aliqua consequat. Pariatur qui quid cernantur non nescius duis expetendis, ullamco dolore litteris aliquip, eiusmod eram fore o minim, te aut graviterque, doctrina esse dolor fabulas nulla aut laboris quem singulis, sunt reprehenderit admodum summis offendit.Hic anim comprehenderit. Consequat despicationes qui iudicem nam ex aute laboris proident in ubi culpa distinguantur, anim de non esse ullamco. Qui legam cupidatat senserit se aliquip aute irure iis anim et te eram eiusmod mentitum o esse se hic tamen appellat. Senserit malis arbitror litteris e e hic voluptatibus.
        br
        hr
        br
        br
        br
        br
        br
        br
