.accordion-multi-col.accordion-full-width
  .row(data-accordion, data-duration=300, data-breakpoint=768, data-accordion-options='{"type": "fullWidth"}')
    .col-md-4(data-accordion-item)
      .item_title(data-accordion-container)
        +link('View details', '#').btn.btn-primary(data-accordion-trigger)
      .item_content.inner#aaa(data-accordion-content)
        .item_content-title Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem similique laboriosam vitae quia suscipit praesentium nesciunt natus explicabo amet incidunt.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem similique laboriosam vitae quia suscipit praesentium nesciunt natus explicabo amet incidunt.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem similique laboriosam vitae quia suscipit praesentium nesciunt natus explicabo amet incidunt.
    .col-md-4(data-accordion-item)
      .item_title(data-accordion-container)
        +link('View details', '#').btn.btn-primary(data-accordion-trigger)
      .item_content.inner(data-accordion-content)
        .item_content-title Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem similique laboriosam vitae quia suscipit praesentium nesciunt natus explicabo amet incidunt.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem similique laboriosam vitae quia suscipit praesentium nesciunt natus explicabo amet incidunt.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem similique laboriosam vitae quia suscipit praesentium nesciunt natus explicabo amet incidunt.
    .col-md-4(data-accordion-item)
      .item_title(data-accordion-container)
        +link('View details', '#').btn.btn-primary(data-accordion-trigger)
      .item_content.inner(data-accordion-content)
        .item_content-title Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem similique laboriosam vitae quia suscipit praesentium nesciunt natus explicabo amet incidunt.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem similique laboriosam vitae quia suscipit praesentium nesciunt natus explicabo amet incidunt.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem similique laboriosam vitae quia suscipit praesentium nesciunt natus explicabo amet incidunt.
    .col-md-4(data-accordion-item)
      .item_title(data-accordion-container)
        +link('View details', '#').btn.btn-primary(data-accordion-trigger)
      .item_content.inner(data-accordion-content)
        .item_content-title Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem similique laboriosam vitae quia suscipit praesentium nesciunt natus explicabo amet incidunt.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem similique laboriosam vitae quia suscipit praesentium nesciunt natus explicabo amet incidunt.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem similique laboriosam vitae quia suscipit praesentium nesciunt natus explicabo amet incidunt.