.DS_Store
app/scripts/plugins.js
app/scripts/plugins.js.map

npm-debug.log
.cache
.vscode
.idea
._*
Thumbs.db
node_modules
node
deploy
package-lock.json
yarn.lock
yarn-error.log
*.sublime-project
*.sublime-workspace
.settings
rootCA.key
rootCA.pem
rootCA.srl
server.crt
server.csr
server.key
v3.ext
server.csr.cnf
.env
opensource.plugins.js
